.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #f2f3f0;
}
.search-form {
  font-size: 10px;
  flex-direction: row;
}

.overview {
  text-align: center;
  text-transform: capitalize;
}
.container {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 10px;
  width: 80%;
  padding: 7px;
  margin: 10px auto;
}

h1 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
}
.weather-temperature .active {
  color: black;
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}
.weather-temperature :hover {
  cursor: default;
  text-decoration: none;
}
.weather-temperature :link {
  text-decoration: none;
  color: black;
}
small {
  text-align: center;
}
