.header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: row;
}
.form-control {
  background-color: transparent;
  background: transparent;
  border-radius: 50px;
}
/* Clear blue glow around search bar */
input[type="search"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.form-control:hover,
.form-control:focus {
  border: 1px solid #f1c323;
  background-color: white;
  text-emphasis-color: #f1c323;
}

body {
  background-color: #f2f3f0;
}

.overview {
  text-align: center;
  text-transform: capitalize;
}
.container {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 10px;
  width: 80%;
  padding: 7px;
  margin: 10px auto;
}

h1 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
  text-align: center;
}
.weather-temperature {
  font-size: 30px;
}
.weather-temperature .active {
  color: black;
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}
.weather-temperature :hover {
  cursor: default;
  text-decoration: none;
}
.weather-temperature :link {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}
.weather-forecast {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .header {
    margin-top: 30px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  .container {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    padding: 7px;
    margin: 1px auto;
  }
  .overview {
    margin-top: 30px;
  }
  .weather-forecast {
    text-align: center;
    font-size: 10px;
  }
  .icon-col img {
    width: 30px;
    height: auto;
  }
}
